/*GENERAL*/

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin: 50px 0;
}
/*HEADER*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid red;
}
.header img {
  width: 105px;
}
nav a {
  margin: 10px;
}

/*PAGE POKEMON*/
.presentation {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

section {
  margin: 20px;
}
.item {
  border: 2px solid black;
  /*text-align: center;*/
  text-align: center;
  padding: 10px;
}
